.mat-toolbar {
  background-color: #acb6c1;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); /* Aggiunge un po' di rilievo */
  color: white; /* Testo bianco */
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  color: white; /* Icone bianche */
}

.favorite-icon {
  font-size: 24px; /* Dimensione icona preferita */
}
