.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://avatars.githubusercontent.com/u/74236426?v=4');
    background-size: cover;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 8px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .card-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Aggiungi margine inferiore per separare le sezioni */
  }
  
  .example-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-card {
    margin: 20px;
  }
  
